@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);

$black-color : #000000;

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

#block-presentation {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;

  .row {
    height: 80vh;
  }

  img {
    margin: 35px 0;
  }

  h1 {
    font-size: 2rem;
    margin: 10px 0;
  }
}

.ideogram {
  width: 50px;
  margin: 0 0 0 40px;
}

.vignette {
  position: relative;
  margin: 8px 4px;
  padding: 10px;
  border: 1px solid black;


  .icon {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.separation-line {
  width: 100%;
  height: 4px;
  background: #000;
  margin-top: 24px;
}

.clients-content .logo {
  margin: 40px 0;
}

.clients-content .logo img {
  height: 50px;
}

.logoTech:hover img {
  transform: rotate3d(0, 1, 0, 360deg);
  transition-duration: 1s;
  opacity: 0;
}

.logoTech {
  margin: 20px 0;

  img {
    height: 60px;
  }

  h4 {
    display: none;
    text-transform: uppercase;
  }
}
